<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>PowerMTA</string>
	<key>uuid</key>
	<string>DDB3E75D-96D1-435E-BAFF-3E4A1B7FACDA</string>
</dict>
</plist>
